.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-item p {
  overflow-wrap: anywhere;
  font-size: 14px;
}

.completed {
  text-decoration: line-through;
  opacity: 70%;
}

.add-btn {
  margin-left: 15px;
}

.icon-next-input {
  margin-left: 15px;
}

.date-input {
  color: gray;

} 

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

select {
  width: 175px;
  color: gray;
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-left: -30px;
}

.view-list-btn {
  margin-bottom: 15px;;
}

.text-error{
  color: red;
  font-size: 10px;
  
}